In [2]:
import pandas as pd
from pathlib import Path

In [4]:
df = pd.read_csv('./challenge_files/vine_table.csv')
df.head()

    RED72VWWCOS7S    1    2    8  N  Y
0   RZHWQ208LTEPV  5.0  0.0  0.0  N  Y
1  R37LBC3XAVLYOO  5.0  4.0  5.0  N  Y
2  R3L7XJMA0MVJWC  5.0  0.0  0.0  N  Y
3  R2I2GHSI7T1UBN  1.0  5.0  6.0  N  Y
4  R2GFFKHK4I6VMX  5.0  0.0  0.0  N  Y